<!DOCTYPE html>
<html lang="en">

<head>
  <title>NHG</title>
</head>
<link rel="stylesheet" href="/css/bootstrap.min.css">

<body class="container-fluid">
  <div class="form-control row">
    <div class="col-sm-12">
      <div class="col-sm-6 img"><br><br></div>
      <div class="col-sm-6 fields"><br>
        <div class="form-group">
          <input class="form-control" placeholder="Enter/Scan IC number" autocomplete="off" required="required" type="text">
        </div>
      </div>
    </div>
  </div>
</body>

</html>